.bg-dark-pink {
    background: #d75588 !important;
}
.bg-header {
    background: linear-gradient(#bd4e88, #ec8bbf) !important;
}
.bg-footer {
    background: linear-gradient(#ec8bbf, #bd4e88) !important;
}
.bg-pink {
    background: #ef97c3 !important;
}
.text-pink {
    color: #ffe8f8 !important;
}
.text-dark-pink {
    color: #2c005b !important;
}

